<div class="pick_currency">
	<label for="currencies">Pick a currency </label>
	<select style="max-height: 50px;max-width: 130px;height:100%;" name="currencies" id="currencies">
		<option selected="selected" value="GBP">GBP</option>
		<option value="CAD">CAD</option>
		<option value="USD">USD</option>
		<option value="AUD">AUD</option>
		<option value="EUR">EUR</option>
		<option value="JPY">JPY</option>
	</select>
</div>