<div class="icon-nav_container">

	<nav class="icon-nav">
		<ul>
			<li><a href="/collections/home-office-stationary"><img src="http://cdn.shopify.com/s/files/1/0410/3633/files/HomeOffice_Icon.png?4768" />Home Office <br/>& Stationary</a></li>
			<li><a href="/collections/shelf-art-display"><img src="http://cdn.shopify.com/s/files/1/0410/3633/files/ShelfArt_Icon.png?4785" />Shelf Art <br/>& Display</a></li>
			<li><a href="/collections/secret-doors"><img src="http://cdn.shopify.com/s/files/1/0410/3633/files/SecretDoors_Icon.png?4785" />Secret <br/>Doors</a></li>
			<li><a href="/collections/bespoke-bookwork"><img src="http://cdn.shopify.com/s/files/1/0410/3633/files/Bespoke_Icon.png?4785" />Bespoke <br/>Bookwork</a></li>
			<li><a href="/collections/gifts-for-book-lovers"><img src="http://cdn.shopify.com/s/files/1/0410/3633/files/Gifts_Icon.png?4785" />Gifts for <br/>Book Lovers</a></li>
		</ul>
	</nav>
	
</div>