<div id="section1" class="accordion">
	<h4>Product Details</h4>
	<span></span>
</div>

<div class="container">
	<div class="content"><hr class="hr-mini" />
  			<p>{{ settings.desc_Posters }}</p>
	</div>
</div>

<div id="section2" class="accordion">
	<h4>Size Guide</h4>
	<span></span>
</div>

<div class="container">
	<div class="content"><hr class="hr-mini" />
  			<p>{{ settings.size_Posters }}</p>
	</div>
</div>

<div id="section3" class="accordion">
	<h4>Delivery &amp; Returns</h4>
	<span></span>
</div>

<div class="container">
	<div class="content"><hr class="hr-mini" />
  			<p>{{ settings.del_Posters }}</p>
	</div>
</div>

<div id="section4" class="accordion">
	<h4>Questions Answered</h4>
	<span></span>
</div>

<div class="container">
	<div class="content"><hr class="hr-mini" />
  			<p>{{ settings.faq_Posters<div></div> }}</p>
	</div>
</div>