<div class="grid grid-uniform">
	<div class="grid-item eight-twelfths push--one-sixth">
	<p "testimonial">What a piece of art.....I feel like i have a first edition! I love the technology of kindle but I love the feel of a real book in my hand. This helps with that old fashioned feeling!</p>
	</div>
</div>