<div class="grid">

  <div class="grid-item large--two-thirds push--large--one-sixth">

    <header class="page-header">
      <img src="http://cdn.shopify.com/s/files/1/0410/3633/files/1fhhAFh.jpg?4038" />
      <h2>{{ page.title }}</h2>
    </header>

{{ product.metafields.c_f.featured_something.value }}

{{ page.metafields.c_f.featured_something.value }}

    {% comment %}
      Regular page content goes here.
    {% endcomment %}
    <div class="rte">
      {{ page.content }}
    </div>

  </div>

</div>