<div class="grid">

  <div class="grid-item large--two-thirds push--large--one-sixth">

    <div class="page-header pad_push_top">
      <h2 class="info">{{ page.title }}</h2>
    </div>

    {% comment %}
      Regular page content goes here.
    {% endcomment %}
    <div class="rte">
      {{ page.content }}
    </div>

  </div>

</div>